
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #4dbf1c;
    border-color: #4dbf1c;
}

.btn-yoga {

  color: white;

  background-color: #4dbf1c;

  width: 150px;
  height: 50px;
  cursor: pointer;
}
